<!DOCTYPE html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>

  <form action="/predict" method="post" enctype="multipart/form-data">
    <label for="audio_file">Audio file:</label>
    <input type="file" id="audio_file" name="audio_file"><br>
    <br>
    <label for="text_input">Text input:</label>
    <input type="text" id="text_input" name="text_input"><br>

    <input type="submit" value="Predict">
  </form>

    <br>
    <hr>
    <br>

    <h1>S3 File Upload</h1>

  <form action="/s3predict" method="post" enctype="multipart/form-data">

    <label for="audio_file">Audio file:</label>
    <input type="text" name="s3_key" placeholder="S3 KEY" required> <br>

     <br>
    <label for="text_input">Text input:</label>
    <input type="text" name="text_input_s3" placeholder="S3 audio file text" required><br>

    <input type="submit" value="Predict">
    <br>
  </form>

  </body>
</html>