<!DOCTYPE html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
      <input type="file" name="audio_file">
      <input type="submit" value="Predict">
      <br>
    </form>

    <br>

    <form action="/s3predict" method="post">
      <input type="text" name="s3_key" placeholder="S3 KEY" required>
      <input type="submit" value="Predict">
      <br>
    </form>

  </body>
</html>